<main>
  <form class="searchBar">
    <input placeholder="search for a product / service">
  </form>
  <section class="categories">
    {{#each categories}}
      <a href='{{this.url}}'>{{this.name}}</a>
    {{/each}}
  </section>
  <section>
    <div class="products">
      
      {{#each product_list}}
      <article>  
          <a href='{{this.url}}'>
          <img src='/{{this.image}}' alt="">
          <h2>{{name}}</h2>
          </a>
          <p>{{this.description}}</p>
          <h3>${{this.price}}</h3>
          <button>Add to Cart</button>
      </article>         
      {{/each}}
    </div>   
  </section>
</main>