
<main>
 <h1>{{title}}</h1>

  <form method='Post' enctype="multipart/form-data" action="">
    <label for="name">Name</label>
    <input type="text", placeholder="Vegetables, Fruits, Meats, Drinks, Sodas, Snacks..." name="name" value={{product.name}} >
    <label for="price">Price</label>
    <input type="number", placeholder="00", name="price", value={{product.price}} >
    <label for="description">Description</label>
    <input type="text", placeholder="some description about this product" name="description" value={{product.description}} >
    <label for="code">Code:</label>
    <input type="number", placeholder="00000000000000000", name="code", value={{product.code}} >
    <label>Image:</label>
    <input type="file" class="form-control-file" name="uploaded_file">
    <label for="categorie">Categorie</label>
    <div>
    {{#each categories}}
      <input type="checkbox" name='categorie', id={{_id}}, value={{_id}}> 
      <label for={{_id}}>{{name}}</label>
    {{/each}}
    </div>
    <label for="password">Password</label>
    <input placeholder="password" type="text" name="password" required="true">
    <button (type="submit")>Submit</button>
  </form>
  <ul>
    {{#each errors}}
      <li>{{this.msg}}</li>
    {{/each}}
  </ul>
</main>